#home{
    padding-left: 13%;  
}
#home:hover{
    color: orange;
}
#shop:hover{
    color: orange;
}
#per{
    margin-left: 20px;
}
#per:hover{
    color: orange;
}
.best{
    color: orange;
    font-weight: bold; 
    font-size: 15px;
}
.air{
    padding-top: 40px;

}
.air:hover{
    color: orange;
}
#cat{
    margin-top: 70px;
}
#juice{
    padding-left: 10%;
}
#diary{
    padding-left: 50px;
}
#ice{
    margin-top: 70px;
    margin-left: 30px;
}
#ice:hover{
    background-color: transparent;
}
#pro{
    margin-top: 50px;
}
h5{
    color: orange;
}
#org{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
    border-bottom: 1px solid rgb(216, 216, 216);
}
#dry:hover{
  border-bottom: 1px solid orange;
}
#dish{
    margin-top: 40px;
}
#ous{
    position: relative;
}
#deli{
    position: absolute;
    top:50px;
}
#card{
    position: relative;
  
}
.but1{
    position: absolute;
    top: 310vh;
    z-index: 1;
    margin-left: 80px;
   
}
.but{
    border: 1px solid white;
    background-color: rgb(226, 226, 226);
}
.but:hover{
    background-color: orange;
    color: white;
 
}
.but2{
    border: 1px solid white;
    background-color: rgb(226, 226, 226);
}
.but2:hover{
    background-color: orange;
    color: white;
 
}
h1{
    padding-bottom: 20px; 
    
}
.shop1{
     background-color: orange;
     border-radius: 5px;  
     color: white;
     font-weight: bold;
     border: 1px solid orange;
     margin-bottom: 35%; 
     font-size: 30px;
}
.shop{
     background-color: orange;
     border-radius: 5px;  
     color: white;
     font-weight: bold;
     border: 1px solid orange;
     margin-left: 35%;
     /* margin-top: 30px; */
}
.shop:hover{
    background-color: olive;
    border: 1px olive;
}
#title{
    margin-top: 70px;
}
.back{
    margin-left: 70%;
    border-radius: 5px;
    background-color: rgba(255, 81, 0, 0.98);
    color: rgb(12, 10, 10);
    font-weight: bold;
    font-size: 20;
     border: 1px solid rgb(255, 123, 0); 
}
.back1{
    border-radius: 5px;
    background-color: rgba(255, 81, 0, 0.98);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20;
     border: 1px solid rgb(255, 123, 0);  
     
}
.back2{
    border-radius: 5px;
    background-color: rgba(255, 81, 0, 0.98);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20;
     border: 1px solid rgb(255, 123, 0);  
}
.fruit{
    color: black;
    font-size: 25px;
    padding-left: 30%;
    margin-top: 20px;
}
.deal{
    color: black;
    padding-left: 24%;
    font-weight: bold;
    font-size: 35px;
}
#gro{
    color: olive;
    padding-left: 29%;
    margin-top: 40px;
    font-size: 15px;
}
#store{
    background-color: rgb(238, 238, 238);
    margin-top: 30px;
}
#your{
    padding: 80px;
}
#you{
    border: 1px solid white;
    margin-top: 80px;
}
#a{
    margin-top: 50px;
}
#idea{
    margin-top: 80px;
}
#b{
    border-radius: 20px;
    display: flex;
    position: relative;
    margin-top: 40px;
    gap:15px;
    
}
#c{
    border-radius: 20px;
    display: flex;
    /* gap: 15px; */
    justify-content: space-around;
     margin-left:90px;
    position: absolute;
    top: 560vh;
}
#cash{
    margin-top: 20%;
    /* margin-left: 80px; */
    border: 1px solid gainsboro;
     padding: 40px;
    padding-left: 10%; 
    height: 25vh;
}
.hex{
    color: olive;
}
.sub{
    color: white;
    background-color: orange;
    font-weight: bold;
    border: 1px solid orange;
    border-radius: 4px;
    font-size: 20px;
}
.sub:hover{
    background-color: olive;
    border: 1px solid olive;
}
.logo{
    color: rgb(255, 208, 0);
    padding-left: 90px;
}
#new{
    margin-top: 90px;
}
#add{
    background-color:rgb(73, 100, 18);
    margin-top: 70px;
    border-radius: 5px;
    padding: 60px; 
    height: 25vh;
}
h6{
    color: olive;
}
h5:hover{
    color: olive;
}
#foot:hover{
    color: orange;
}
#footer{
    margin-top: 70px;
}
#ice p:hover{
    color: orange;
    border-bottom: 2px solid orange;
    width: 150px;
}
#ice :hover{
    /* scale: .9; */
    background-color: rgb(230, 230, 230);
    
}
.login{
    margin-top: 110px;
}
.sign{
    width: 45%;
    height: 40px;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    
}
.sign1{
        width: 45%;
        height: 40px;
        border-radius: 5px;
        background-color: orangered;
        color: white;
        font-weight: bold;
}
.sign:hover{
    background-color: white;
    color:black;
}
.sign1:hover{
    background-color: white;
    color:black;
}
#b1{
    width: 54vh;
}
.in{
    width: 35%;
    height: 40px;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-weight: bold; 
}
.in:hover{
    background-color: white;
    color:black;
}
.Create{
    margin-top:100px;
}
.get{
    background-color: rgb(240, 240, 240);
}
.cal{
    color: white;
    font-weight: bold;
    background-color: orange;
    border: 1px solid orange;
}
.cal:hover{
    border: 1px solid  orange;
    background-color: white;
    color: orange;
}
.inc1{
    background-color: white;
    border: 1px solid white;
    font-size: 19px;
}
/* From Uiverse.io by vinodjangid07 */ 
.loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .truckWrapper {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    overflow-x: hidden;
  }
  /* truck upper body */
  .truckBody {
    width: 130px;
    height: fit-content;
    margin-bottom: 6px;
    animation: motion 1s linear infinite;
  }
  /* truck suspension animation*/
  @keyframes motion {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  /* truck's tires */
  .truckTires {
    width: 130px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 15px;
    position: absolute;
    bottom: 0;
  }
  .truckTires svg {
    width: 24px;
  }
  .road {
    width: 100%;
    height: 1.5px;
    background-color: #282828;
    position: relative;
    bottom: 0;
    align-self: flex-end;
    border-radius: 3px;
  }
  .road::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #282828;
    right: -50%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 10px solid white;
  }
  .road::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #282828;
    right: -65%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 4px solid white;
  }
  .lampPost {
    position: absolute;
    bottom: 0;
    right: -90%;
    height: 90px;
    animation: roadAnimation 1.4s linear infinite;
  }
  #navbarSupportedContent ul{
        padding-left: 10em;
  }
  @keyframes roadAnimation {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-350px);
    }
  }
  #dish{
    display:flex;
  }
@media(max-width:768px){
    #dish{
        display: block;
    }
    .but1{
        position: absolute;
        top: 362vh;
        z-index: 1;
        margin-left: 80px;
       
    }
    .you1{
          width:52vw;
    }
    #cash {
        margin-top: 37em;
        height: 89vh !important;
    }
    #b{
        display: block;
    }
    #new {
        margin-top: 4vh;
    }
    .logo{
        padding-left: 0px;
        margin-top: 30px;
    }
    #c {
        border-radius: 20px;
        display: block;
        top: 521em;
        margin-left: 0px;
    }
    .sub{
        margin-top: 20px;
    }
    #add{
        height:63vh;
    }
    #b1{
        width: 50vh;
    }
    .cal{
        margin-top: 30px;
    }
}
    
  




  